<h1>Welcome to Eat da Burger!</h1>

<div>
  <ul id="uneaten-list">
    {{#each burgers}}
      {{#unless devoured}}
        <li>{{ id }}. {{ burger_name }} <button data-id="{{ id }}">Devour!</button></li>
      {{/unless}}
    {{/each}}
  </ul>
  <ul>
    {{#each burgers}}
      {{#if devoured}}
        <li>{{ id }}. {{ burger_name }}</li>
      {{/if}}
    {{/each}}
  </ul>
</div>



<form id="burgerForm">
  <label for="burgerInput">Burger Name:</label>
  <input type="text" id="burgerInput" name="burgerName">
  <button type="submit">Submit</button>
</form>